---
---

@import "minimal-mistakes/skins/plum";
@import "minimal-mistakes";

/* Custom overrides */
a {
  color: #800080;
}

a:hover {
  color: #a033a0;
}

.page__title {
  font-size: 1.6em;
  color: #800080;
}

